<div class="card">
  <div class="card-header d-flex justify-content-between align-items-end bg-secondary text-light text-decoration-none">
    <div >
        <p class="m-0 text-light"><span style="font-weight: bold;">{{user.username}} </span>commented on {{format_date createdAt}}</p>
    </div>
    <div></div>
  </div>
  <div class="card-body">
    <p class="card-title">{{comment_text}}</p>
    
  </div>
</div>